{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}我的博客{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#res"
                    aria-expanded="false">
                <span class="sr-only">我的博客</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'article_list' %}">隐血空夜
                <small class="text-muted">的博客</small>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="res">
            <ul class="nav navbar-nav">
                <li {% if section == 'article' %}class="active"{% endif %}><a href="{% url 'article_list' %}">文章</a>
                </li>
                <li {% if section == 'user' %}class="active"{% endif %}><a href={% if request.user.is_authenticated %}
                    "{% url 'user_profile' request.user.id %}
                                                                       {% else %} "{% url 'login' %}"
                {% endif %}">用户</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        关于我<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color: #222222">
                        <li><a href="#">Github</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">StackOverflow</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'user_profile' request.user.id %}">欢迎， {{ request.user.profile.cute_name }}</a>
                    </li>
                    <li><a href="{% url 'logout' %}" style="color: #FF3300">登出</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">注册</a></li>
                    <li><a href="{% url 'login' %}" style="color: #11EE96">登录以获取更多功能</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'search' %}" method="get">
                {% csrf_token %}
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="搜索文章标题..." required name="query">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">{% block content %}{% endblock %}</div>
        <div class="col-md-2">
            <div class="thumbnail text-center owner-info">
                <img src="{% static 'img/me.jpg' %}" alt="隐血空夜" class="img-responseive">
                <div class="caption">
                    <h4>隐血空夜</h4>
                </div>
            </div>
            <ul class="list-group text-center tag-list">
                <li class="list-group-item">标签</li>
                {% for tag in tags %}
                    <li class="list-group-item"><a href="{% url 'article_list_by_tag' tag.id %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="footer text-center navbar-fixed-bottom">
        <a class="text-success" href="{% url 'article_manage' %}">隐血空夜的博客</a>
    </div>
</div>

<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
<script src="{% static 'js/prism.js' %}"></script>
</body>

<script>
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.Domain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(function () {
        {% block domready %}
        {% endblock %}
    })
</script>
</html>
