{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>评论管理</title>
</head>
<body>
<h1 style="text-align: center;">文章"{{ article.title }}"的评论</h1>
<table class="table-hover" style="margin: 0 auto">
    <tr>
        <th>作者</th>
        <th>更新时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    {% for comment in comments %}
        <tr>
            <td><a href="{% url 'user_profile' comment.owner.id %}">{{ comment.owner }}</a></td>
            <td>{{ comment.updated }}</td>
            <td>{% if comment.active %}正常{% else %}禁用{% endif %}</td>
            <td>
                <a href="{% url 'comment_manage_stat' comment.id %}"
                   class="{% if comment.active %}glyphicon glyphicon-remove{% else %}glyphicon glyphicon-ok{% endif %}"></a>
                <a href="{% url 'comment_manage_delete' comment.id %}" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
    {% endfor %}
</table>
<div class="text-center">
    <button class="btn btn-default"><a href="{% url 'article_manage' %}">返回管理页</a></button>
    <button class="btn btn-default"><a href="{% url 'article_list' %}">返回主页</a></button>
</div>
</body>
<style type="text/css">
    table {
        background-color: #FFEBEE;
    }

    td, th {
        padding: 10px !important;
        border: #F8BBD0 1px solid;
    }

    button {
        margin: 10px 140px 0 142px;
    }
</style>
</html>