{% for article in articles %}
    <div class="article-item">
        {% with tags=article.tags.all %}
        {% if tags %}
        {% for tag in tags %}
        <a class="label label-info tag" href="{% url 'article_list_by_tag' tag.id %}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
        <p class="help-block" style="font-size: 14px">{{ article.publish }} By
            <small>
                <a href="{% url 'user_profile' article.author.id %}">
                    {{ article.author }}
                </a>
            </small>
        </p>
        <p style="padding-top: 5px">{{ article.description|linebreaks }}</p>
    </div>
{% empty %}
    <div class="text-center">
        {% if query %}
            <h2>没有含关键字“{{ query }}”的文章</h2>
            <span class="hlep-block"><a href="{% url 'article_list' %}">点此跳转回主页面</a></span>
        {% endif %}
    </div>
{% endfor %}