{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block content %}
        <h1 class="reg-info text-center text-primary">注册</h1>
    <div class="form-group">
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-success col-md-2 col-md-offset-10" value="注册">
        </form>
    </div>

<style>
    .reg-info{
        background: #FFEB3B;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #212121;
        width: 10%;
        padding: 1px 5px 2px 5px;
        opacity: 0.8;
    }
</style>
{% endblock %}

{% block domready %}
$('input[name=username]').addClass('form-control');
$('input[name=email]').addClass('form-control');
$('input[name=password]').addClass('form-control');
$('input[name=password2]').addClass('form-control');
$('input[name=cute_name]').addClass('form-control');
{% endblock %}