{% extends "base.html" %}
{% load static %}

{% block title %}个人资料{% endblock %}

{% block content %}
<div class="row">
    <div class="thumbnail text-center col-md-3">
		<img src="{% if profile.image %}{{ profile.image.url }}{% else %}{% static 'img/default.jpg' %}{% endif %}" alt="{ profile.cute_name }}的头像" class="img-responseive">
	<div class="caption">
		<h4>{{ profile.cute_name }}</h4>
        <p>{{ profile.user.email }}</p>
        {% if request.user == profile.user %}
        <a href="{% url 'profile_edit' %}" class="glyphicon glyphicon-edit"></a>
        {% endif %}
    </div>
    </div>
    <div class="col-md-9 text-center user-info">
            <p>{{ profile.description }}</p>
    </div>
</div>

<style>
    .user-info{
        position: absolute;
        top: 27px;
        right: 0;
        background: #212121;
        border-radius: 0 5px 5px 0;
        opacity: 0.8;
        height: 300px;
        padding: 10px;
    }
    .user-info>p{
        color: white;
        text-align: left;
    }
</style>
{% endblock %}