{% extends "base.html" %}

{% block title %}密码修改成功{% endblock %}

{% block content %}
    <div class="text-center" id="logout">
        <h1>你已成功修改密码</h1>
        <ul class="list-unstyled">
            <li><a href="{% url 'article_list' %}">返回主页面</a></li>
        </ul>
    </div>
{% endblock %}

{% block domready %}
    var message ='
    <div class="alert alert-success" role="alert">密码修改成功</div>'
    $('#logout').append(message)
    setTimeout(function(){
    $('.alert').fadeOut().remove();
    }, 1000)

{% endblock %}